.socials {
  opacity: 0.3;
}

.socials:hover {
  opacity: 1;
}

.name {
  font-size: 4.5rem;
  line-height: 1;
}
.desc {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.typing {
  width: 13ch;
  animation: typing 1s steps(13), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  margin-right: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .name {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .desc {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .bio {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
